@model SIGIT.Models.Aplicacione

@{
    Layout = null;
}

<div class="modal-body">
    <div>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NombreAplicacion)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NombreAplicacion)
            </dd>
        </dl>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="bi bi-house-x-fill"></i></button>
</div>