@model SIGIT.Models.Aplicacione

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Aplicación</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AplicacionId" />
            <div class="form-group">
                <label asp-for="NombreAplicacion" class="control-label"></label>
                <input asp-for="NombreAplicacion" class="form-control" />
                <span asp-validation-for="NombreAplicacion" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
<div>
    <a class="btn btn-outline-secondary" asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
