@model SIGIT.Models.UsuariosSistema

@{
    Layout = null;
}

<div class="container-fluid">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsuarioSistemaId" />

            <div class="container text-start">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Cedula" class="control-label"></label>
                        <input asp-for="Cedula" class="form-control" />
                        <span asp-validation-for="Cedula" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="container text-start">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="SegundoNombre" class="control-label"></label>
                        <input asp-for="SegundoNombre" class="form-control" />
                        <span asp-validation-for="SegundoNombre" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="container text-start">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Apellido" class="control-label"></label>
                        <input asp-for="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="SegundoApellido" class="control-label"></label>
                        <input asp-for="SegundoApellido" class="form-control" />
                        <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="container text-start">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="UsuarioLogin" class="control-label"></label>
                        <input asp-for="UsuarioLogin" class="form-control" />
                        <span asp-validation-for="UsuarioLogin" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="PasswordHash" class="control-label"></label>
                        <input asp-for="PasswordHash" class="form-control" type="password" placeholder="Dejar en blanco para no cambiar" />
                        <span asp-validation-for="PasswordHash" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="container text-start">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Celular" class="control-label"></label>
                        <input asp-for="Celular" class="form-control" />
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="container text-start">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="RolId" class="control-label"></label>
                        <select asp-for="RolId" class="form-select" asp-items="ViewBag.RolId" required>
                            <option value="">-- Seleccione un Rol --</option>
                        </select>
                        <span asp-validation-for="RolId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 d-flex align-items-end">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-outline-success">Guardar Cambios</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </form>
    </div>
</div>

@{
    // CORREGIDO: Eliminada la sección de scripts
}