@model SIGIT.Models.Area

@{
    Layout = null; // Necesario para vista parcial
}

<div class="modal-body">
    <h3 class="text-danger">¿Está seguro que quiere eliminar esta área?</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NombreArea)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NombreArea)
        </dd>
    </dl>
</div>

<div class="modal-footer">

    <!-- Botón Cancelar (Asegura que no haga submit al formulario) -->
    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
        <i class="bi bi-x-square"></i> Cancelar
    </button>

    <!-- El formulario solo para la acción de borrado -->
    <form asp-action="DeleteConfirmed" asp-route-id="@Model.AreaId" method="post">

        <!-- Anti-Forgery Token (ESENCIAL) -->
        @Html.AntiForgeryToken()

        <!-- Input del ID del área -->
        <input type="hidden" asp-for="AreaId" />

        <!-- Botón de Submit (Confirmar) -->
        <button type="submit" class="btn btn-danger">
            <i class="bi bi-trash3-fill"></i> Confirmar Eliminación
        </button>
    </form>
</div>