@model SIGIT.Models.Area

@{
    Layout = null; // ¡Importante! No usar el _Layout principal
}

<div class="modal-body">
    <div>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NombreArea)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NombreArea)
            </dd>
        </dl>
    </div>
</div>
<div>
    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="bi bi-house-x-fill"></i></button>
</div>

@* section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}*@
