@model SIGIT.Models.Area

@{
    Layout = null; // ¡Importante! No usar el _Layout principal
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AreaId" />
            <div class="form-group">
                <label asp-for="NombreArea" class="control-label"></label>
                <input asp-for="NombreArea" class="form-control" />
                <span asp-validation-for="NombreArea" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-outline-success"><i class="bi bi-floppy-fill"></i></button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="bi bi-house-x-fill"></i></button>
            </div>
        </form>
    </div>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
