@{
    Layout = null;
}

<div class="modal-body">
    <div class="text-center">
        <h3 class="text-danger">Acceso Denegado</h3>
        <p>Usted no está autorizado para realizar esta acción.</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
</div>