@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a SIGIT</h1>
    <h3>Un producto para el grupo consorcial Autofinanciera</h3>
    <br />  
    <p>Todos los datos contenidos en esta aplicación son de uso netamente corporativos y se prohibe compartir la información contenida en ella.</p>
    <p>Todos los derechos de uso e información son reservados.</p>
@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
